ul a{list-style:none;text-decoration:none;color: hsla(0,0%,100%,.6);} body{margin:0px;padding:0px;font: 14px -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;}

/* YAPILACAK İŞLER 
1- link eklenecek
2- sayfa büyüyüp küçülürken ki durum ayarlanacak
3-sol taraf ayrı orta ayrı sag taraf ayrı scrollanacak
4-
background: url(sprite.png) -120px 0; text-indent: -9999px;
 */

.sayfa{}

.ust{width:100%; height:48px; background-color:black; position:fixed; color: hsla(0,0%,100%,.6); z-index:3;}
	
	.ust a:hover{color:white;}

	.logo{display: inline; width: 72px; height:48px; background: url(sprite-logo.png) 50% no-repeat; background-size: 72px 48px; text-indent: -9999px; float: left; position:absolute; left:65px;
	}

	.ust .solbanner li{display: inline;padding:10px;font-size: 14px;position:relative; left:98px;}
	
	.ust .sagbanner li{float:right; display:inline; font-size:14px;position:relative;bottom:43px; padding:10px;padding-right:7px; }
	
	.signup { margin-right:85px;color: #fff; display: inline-block; line-height: 30px; height: 30px; padding: 0 16px; border-radius: 2px; font-size: 14px; font-weight: 700; background-color: #09f;position:relative;bottom:5px;left:15px;}
	
	.pp img{ position:relative; width:30px; height:30px;}
	
	.bildirim{text-indent: -9999px; position:absolute; width: 30px; height: 30px; background: url(sprite.png) -30px 0 no-repeat; background-size: 510px 120px; right:-2px;}
	
	.signup:hover{filter: brightness(110%);}
	
	li	.login:hover {color: hsla(0,0%,100%,.6);}
	
	.search{display: block; width: 30px; height:30px; text-indent: -999px; overflow: hidden; background: url(sprite.png) 0 0 no-repeat; background-size: 510px 120px;position:relative; bottom:5px;right:6px;}
	
	li	.search:hover{display: block; width: 30px; height:30px; text-indent: -999px; overflow: hidden; background: url(sprite.png) 0 -30px no-repeat; background-size: 510px 120px;position:relative; bottom:5px;right:6px;}
	
	#searchtext{ position:absolute;top:44px;left:-20px; width: 200px; height:19px; padding: 5px;display:none;z-index:2;}
	#dropdown:hover	 #searchtext{display:block;}
	
.solalt {width: 192px;float:left;height:1000px;margin-left:77px;margin-top:48px;}
	.solalt_ust h3{line-height: 16px; height: 16px; margin-top: 24px; color: #999; font-size: 12px; text-transform: uppercase;}
	.solalt_ust ul li{list-style:none;font-size: 14px;}
.solalt .solalt_ust	.icon_hot{ width: 30px; height: 30px; background: url(sprite-sidebar.png)0 30px; background-size: 90px 120px;position:relative;right:40px;top:-5px;}
.solalt .solalt_ust	.icon_trending{width: 30px; height: 30px; background: url(sprite-sidebar.png)60px 0px; background-size: 90px 120px;position:relative;right:40px;top:-3px;}
.solalt .solalt_ust	.icon_fresh{width: 30px; height: 30px; background: url(sprite-sidebar.png)30px 0px; background-size: 90px 120px;position:relative;right:40px;top:-1px;	}
.solalt .solalt_ust	a .icon_hot .text{position:relative;left:31px;top:5px; color:black;}
.solalt .solalt_ust	a .icon_trending .text{position:relative;left:31px;top:5px; color:black;}
.solalt .solalt_ust	a .icon_fresh .text{position:relative;left:31px;top:5px; color:black;}

	.solalt_orta h3{line-height: 16px; height: 16px; margin-top: 24px; color: #999; font-size: 12px; text-transform: uppercase;}
	.solalt_orta ul li{list-style:none;font-size: 14px;}
	.solalt .solalt_orta ul li{margin-bottom:11px;}
	
.solalt .solalt_orta .resim1{width: 24px; height: 24px; background: url(solalt_orta1.jpg);background-size: 24px 24px;position:relative; right:36px;}
.solalt .solalt_orta .resim2{width: 24px; height: 24px; background: url(solalt_orta2.jpg);background-size: 24px 24px;position:relative; right:36px;}
.solalt .solalt_orta .resim3{width: 24px; height: 24px; background: url(solalt_orta3.jpg);background-size: 24px 24px;position:relative; right:36px;}
.solalt .solalt_orta .resim4{width: 24px; height: 24px; background: url(solalt_orta4.jpg);background-size: 24px 24px;position:relative; right:36px;}
.solalt .solalt_orta .resim5{width: 24px; height: 24px; background: url(solalt_orta5.jpg);background-size: 24px 24px;position:relative; right:36px;}
.solalt .solalt_orta .resim6{width: 24px; height: 24px; background: url(solalt_orta6.jpg);background-size: 24px 24px;position:relative; right:36px;}
.solalt .solalt_orta .resim7{width: 24px; height: 24px; background: url(solalt_orta7.jpg);background-size: 24px 24px;position:relative; right:36px;}
.solalt .solalt_orta .resim8{width: 24px; height: 24px; background: url(solalt_orta8.jpg);background-size: 24px 24px;position:relative; right:36px;}
.solalt .solalt_orta .resim9{width: 24px; height: 24px; background: url(solalt_orta9.jpg);background-size: 24px 24px;position:relative; right:36px;}
.solalt .solalt_orta .resim10{width: 24px; height: 24px; background: url(solalt_orta10.jpg);background-size: 24px 24px;position:relative; right:36px;}
.solalt .solalt_orta .resim11{width: 24px; height: 24px; background: url(solalt_orta11.jpg);background-size: 24px 24px;position:relative; right:36px;}
.solalt .solalt_orta .resim12{width: 24px; height: 24px; background: url(solalt_orta12.jpg);background-size: 24px 24px;position:relative; right:36px;}

.solalt .solalt_orta .resim1 .text{color:black;position:relative;left:31px;margin-bottom:11px;}
.solalt .solalt_orta .resim2 .text{color:black;position:relative;left:31px;margin-bottom:11px;}
.solalt .solalt_orta .resim3 .text{color:black;position:relative;left:31px;margin-bottom:11px;}
.solalt .solalt_orta .resim4 .text{color:black;position:relative;left:31px;margin-bottom:11px;}
.solalt .solalt_orta .resim5 .text{color:black;position:relative;left:31px;margin-bottom:11px;}
.solalt .solalt_orta .resim6 .text{color:black;position:relative;left:31px;margin-bottom:11px;}
.solalt .solalt_orta .resim7 .text{color:black;position:relative;left:31px;margin-bottom:11px;}
.solalt .solalt_orta .resim8 .text{color:black;position:relative;left:31px;margin-bottom:11px;}
.solalt .solalt_orta .resim9 .text{color:black;position:relative;left:31px;margin-bottom:11px;}
.solalt .solalt_orta .resim10 .text{color:black;position:relative;left:31px;margin-bottom:11px;}
.solalt .solalt_orta .resim11 .text{color:black;position:relative;left:31px;margin-bottom:11px;}
.solalt .solalt_orta .resim12 .text{color:black;position:relative;left:31px;margin-bottom:11px;}

.solalt_alt{font-size: 12px; line-height: 18px; color: #999; margin-bottom: 8px;}
.solalt_alt a{text-decoration:none;}

.sagalt {height:1000px;float:right;width:973px;margin-right:77px;margin-top:48px;}
.sagalt .sagalt_ust {position:relative;top:24px;}

.sagalt_alt .sagalt_alt_sol{width:640px;height:1000px;position:relative;top:20px;}

.sagalt_alt .sagalt_alt_sag{width:300px;height:auto;float:right;position:relative;top:-980px;}
.sagalt_alt .sagalt_alt_sol .etiketler{width:640px;height:120px;position:relative;top:23px;}
.sagalt_alt .sagalt_alt_sol .etiketler a{padding:25px;}

.sag_alt .sag_alt_sol .postlar {width:640px;height:auto;}

.postlar .post a{text-decoration:none;}

.postlar .post .buttons .buttons_sol a{box-sizing: border-box; border: 1px solid #ccc; border-radius: 2px; width: 44px; height: 34px; display: inline; text-indent: -999px; position: relative;}
.postlar .post .buttons .buttons_sol a.like{background: url(sprite.png) -120px 0 no-repeat; background-size: 510px 120px;position: absolute; width: 30px; height: 30px;}
.postlar .post .buttons .buttons_sol a.dislike{background: url(sprite.png) -150px 0 no-repeat; background-size: 510px 120px;position: absolute; width: 30px; height: 30px; left:40px;}
.postlar .post .buttons .buttons_sol a.comment{background: url(sprite.png) -180px 0 no-repeat; background-size: 510px 120px;position: absolute; width: 30px; height: 30px; left:80px;}
.postlar .post .buttons .buttons_sol a.etc{background: url(sprite.png) -300px 0 no-repeat; background-size: 510px 120px;position: absolute; width: 30px; height: 30px; left:120px;}

.postlar .post .buttons .buttons_sag a{float:right;display: block;
    color: #fff;
    font-weight: 700;
    height: 34px;
    background-color: #f4f4f4;
    line-height: 34px;
    padding:0 34px;
    border-radius: 2px;
    text-align: center;
    position: relative;}
.postlar .post .buttons .buttons_sol a.facebook{width: 32px; height: 32px; background: url(face.png) 0px 0px no-repeat; background-size: 23px 70px;background-color: #3b5998;
position:relative;left:250px;padding:6px;color:white; padding-right:39px;}
.postlar .post .buttons .buttons_sol a.pinterest{width: 32px; height: 32px; background: url(pinterest.png) 0px 0px no-repeat;background-size: 23px 70px;background-color: #bd081c;
position:relative; left:280px;padding:6px;color:white; padding-right:39px;}

.postlar .post .buttons .buttons_sol a b {position:relative;left:30px;}

.postlar .post {width:500px;height:auto; margin:15px;margin-bottom:100px;}

.postlar .post .postimg{position:relative;max-width:500px;height:auto;}


/* SİGN UP VE LOG İN PAGE--------------------------------------------------------------------------------------------------------------------------------------------------------------






------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



